books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="booksLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="books" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="sub_title"/>
              <xs:element type="xs:string" name="edition"/>
              <xs:element name="authors">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="author"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="publisher">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:short" name="year"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:short" name="pages"/>
              <xs:element type="xs:long" name="isbn"/>
              <xs:element type="xs:string" name="price"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>







<!-- <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="booksLibrary">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="books"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="sub_title" type="xs:string"/>
				<xs:element name="edition" type="xs:string"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="authors" type="xs:string"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="year">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="4"/>
        					<xs:minInclusive value="1"/>
        					<xs:maxInclusive value="2021"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="pages" type="xs:string"/>
				<xs:element name="isbn" type="xs:integer"/>
				<xs:element name="price" type="xs:decimal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema> -->